{{- $description := .Site.Params.description }}
{{- $featuresText := .Site.Params.features | markdownify }}
<section class="hero is-fullheight has-text-centered">
  {{ partial "navbar.html" . }}

  <div class="hero-body">
    <div class="container">
      <img class="is-main-logo title is-spaced" src="/images/logo/openmetrics.png" alt="Bulma: a modern CSS framework based on Flexbox">

      <h2 class="subtitle is-size-3 is-size-4-touch">
        {{ $description }}
      </h2>
      <span class="is-size-4 is-size-6-touch">
        {{ $featuresText }}
      </span>
    </div>
  </div>
</section>
