<nav class="navbar" role="navigation" aria-label="Main site navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ .Site.BaseURL | absURL }}">
        <img src="/images/logo/openmetrics.png" alt="Bulma: a modern CSS framework based on Flexbox">
      </a>

      <!--
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
      -->
    </div>
  </div>
</nav>
