{{- $inServerMode := .Site.IsServer }}
{{- $sass := "sass/style.sass" }}
{{- $target := "css/style.css" }}
{{- $bulma := "node_modules/bulma" }}
{{- $template := "sass/style.sass" }}
{{- $cssDevOpts := (dict "targetPath" $target "enableSourceMap" true "includePaths" (slice $bulma)) }}
{{- $cssProdOpts := (dict "targetPath" $target "outputMode" "compressed" "includePaths" (slice $bulma)) }}
{{- $cssOpts := cond $inServerMode $cssDevOpts $cssProdOpts }}
{{- $css := resources.Get $sass | resources.ExecuteAsTemplate $template . | toCSS $cssOpts }}
{{- if $inServerMode }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">
{{- else }}
{{- $prodCss := $css | minify | fingerprint }}
<link rel="stylesheet" href="{{ $prodCss.RelPermalink }}" integrity="{{ $prodCss.Data.Integrity }}">
{{- end }}
{{- $favicon := .Site.Params.favicon }}
<link rel="shortcut icon" href="{{ $favicon | relURL }}">
