{{- $description := .Site.Params.description }}
{{- $subdescription := .Site.Params.subdescription }}
<section class="hero is-fullheight has-text-centered">
  <div class="hero-body has-background-image">
    <div class="container">
      <img class="is-main-logo title is-spaced" src="{{ "/images/logo/logo-with-text.png" | relURL }}" alt="OpenMetrics logo">

      <h2 class="subtitle is-size-3 is-size-4-touch">
        {{ $description | markdownify }}
      </h2>
    </div>
  </div>

  <div class="hero-foot has-text-white">
    <div class="container">
      <span class="is-size-4 is-size-5-touch">
        {{ $subdescription | markdownify }}
      </span>
    </div>
  </div>
</section>
